# Ignored files
*.log*
bin/
*ModelOutput*
Repast.settings
*.orig
*.csv
.metadata*

#ignore png files stored anywhere except the icons folder
*.png
!icons/*.png

#check in everything in the docs file, irrespective of other exclusions
!docs/**/*

*.tif
*.txt
*.tab
*.pdf

!cascade.rs/*
!dataFiles/*
java*
*xls*
DebugOutput*
output/*
